/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/11/2014, 01:16:57
    Author     : leandreson
*/
*{
    margin: 0;
    padding: 0;
}
  body
        {
            font-family: 'Courier New' , Courier, monospace;
            font-style: normal;
            background-image: url("imagens/branco.png");
        }
    
    textarea {
    		resize: none;
		}
    
    
    #bar{
            
            background-image: url("imagens/azul.png");
            height: 100px;
            line-height: 100px;
            position: relative;
            width: 100%; 
            z-index: 999;
            top: 0;
            
        }    

    #nome{
            top: 10px;
            color: white;
            z-index: 999;
            line-height: 20px;
            position: relative;
            float: right;
        }
        
        
    #menuOrdensDeServico{
            top: 35px;
            color: white;
            margin-left: 100px;
            position: relative;
            float: left;
        }   
        
    #divisoriamenu{
            top: 42px;
            position: relative;
            float: left;    
        }
    #transparente {
            position: relative;
            top: 42px;
            float: left;
            opacity:0.15;
            -moz-opacity: 0.15;
           // filter: alpha(opacity=65);
	}
        
    #menuCadastrarOs{
            top: 35px;
            position: relative;
            float: left;
            color: white;
        }
        
    #img{
            top: 10px;
            margin-left: 90px;
            position: relative;
            line-height: 20px;
            float: left;
        }        


	#bteditar{
			top: 15px;
            margin-left: 450px;
            position: relative;
            line-height: 30px;
            float: left;
	}	
	#btcancelarOS{
			top: 15px;
            margin-left: 450px;
            position: relative;
            line-height: 30px;
            float: left;
	}		
	#btpesquisar{
			top: 15px;
            margin-left: 20px;
            position: relative;
            line-height: 30px;
            float: left;
	}	
	
    #espaco{
           background-image:  url("imagens/linhabranca.png");
            margin: 0 auto;
            width: 1100px;
            position: relative;       
        }  
        
        
    #rodape{
            text-align: center;
            font-family: 'Courier New' , Courier, monospace;
            font-style: normal;
            font-size: small;
            position: relative;
        }    
        
    #r1{
            margin-left: 300px;
            color: blue;  
            position: relative;
            float: left;
            height: 45px;
            line-height: 45px;
        }    
        
    #r2{
            color: #666666;  
            text-align: left;
            line-height: 20px;
            position: relative;
            float: left;
        }
    #divisoria{
            position: relative;
            float: left;
        }
    #clear{
            clear: both;
        }   
        
        
        

    a:link, a:visited {
            text-decoration: none;
            color: #FFFFFF;
            }
    a:hover {
            text-decoration: underline; 
           // color: #f00
            }
    a:active {
            text-decoration: none
            }
        
        
        
        

        
        
        
        
        .itens{
        	   font-size: 20px;
        	   text-align: left;
        	  
             }
             
        .itens_valor{
        	   font-size: medium;
        	   text-align: left;
        	   left: 900px;
        }
		

					
					
		#l1{
			position: absolute;
			left: 300px;
			margin-top: 4px;
		
		}					
					
		#l2{
			position: absolute;
			left: 300px;
			margin-top: 4px;
		
		}					
			
					
		#l3{
			position: absolute;
			left: 300px;
			margin-top: 4px;
		
		}					
					
		#l4{
			position: absolute;
			left: 300px;
			margin-top: 4px;
		
		}					
					
		#l5{
			position: absolute;
			left: 300px;
			margin-top: 4px;
		
		}					
					
		#l6{
			position: absolute;
			left: 300px;
			margin-top: 4px;
		
		}					
					
		#l7{
			position: absolute;
			left: 300px;
			margin-top: 4px;
		
		}					
					
		#l8{
			position: absolute;
			left: 300px;
			margin-top: 4px;
		
		}					
					
		#l9{
			position: absolute;
			left: 300px;
			margin-top: 4px;
		
		}					
		
        strong{
        	left: 200px;
        	margin-left: 40px;
        	
        }
        
        
        
        
        
		#bthistorico{
			position: absolute;
			left: 40px;
			top: 700px;
		}
		#dcadastrar{
			position: relative;
			float: left;
		}                
		#dcancelar{
			position: relative;
			float: left;
			left: 40px;
		}  
		#dbotoes{
		left:400px;
		position: relative;
		top: 150px;
		}
		
		#desabilitados{
			position: absolute;
			left: 800px;
			top: 161px;
		}
		#btproduto{
			color:white;
			width: 100px;
			height: 25px;	
			background: #02338d;
		}
		#btservico{
			position: relative;
			left: 20px;
			color:white;
			width: 100px;
			height: 25px;
			background: #02338d;
		}