@CHARSET "ISO-8859-1";



  #main{
           background-color: #FFFFFF;
           color: #000000;
            margin: 0 auto;
            width: 1100px;
            position: relative;
        }     
        
   #bar2{
        background-color: #c5c5c5;
            margin: 0 auto;
            width: 1100px;
            height: 60px;
            position: relative;            
            float: left;
            
        }   
        
    #divbar2{
            margin-left: 20px;
            font-size: larger;
            color: #2d17b8;
            height: 60px;
            line-height: 60px;
            float: left;
            position: relative; 
        }
    #formbar{
            color: #2d17b8;
            float: left;
            position: relative;
            height: 30px;
            line-height: 30px;
            margin-left: 100px;
        }        
        
 
    #formbar2{
            color: #2d17b8;
            float: left;
            position: relative;
            height: 30px;
            line-height: 30px;
            margin-left: 20px;
        }        
        
    #pesquisar{
        	background-image: url("imagens/botaopesquisar.png");
            float: left;
            position: relative;
            height: 60px;
            line-height: 60px;
        }
        
        
        
        
        
        .field1{
           	margin-left: 10px;
           	text-align: left;
        }
        
         
        #inputstatus{
        	position: relative;
            left: 4px;
            margin-top: 4px;
        }
        
        
        #inputsetor{
            position: relative;
            left: 4px;
            margin-top: 4px;
        }
        
        
        
    
    table
      {
        font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
        width:100%;
        border-collapse:collapse;
      }
      table td, th
      {
        border:1px solid #BFD5F0;
        padding:3px 7px 2px 7px;
      }
      table th
      {
        font-size:1.2em;
        text-align:left;
        padding-top:5px;
        padding-bottom:4px;
        background-color:#D0CCCC;
        color:#ff8410;
      }
      table tr.alt td
      {
        color:#000;
        background-color:#BFD5F0;
      }                
      
      
      
      
      
      
      
      
      